<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>个人中心</title>
    </head>
    
    <body>
        <h1>朋友小聚策划案</h1>
        欢迎来到2025年，全球疫情得到明显控制，再也不用担心有疫情发生了。特拟订本次活动方案进行好友小聚一场。
        
    　　<h2>一、时间</h2>
        2025年02月22号
        
    　　<h2>二、地点</h2>
        别墅轰趴馆
        
    　　<h2>三、聚会目的</h2>
        快乐，放松，锻炼，娱乐，团结。 
        
    　　<h2>四、主要活动内容</h2>
        1、节目表演
        2、游戏互动
        3、娱乐设备：两个台球厅、飞行棋、室内高尔夫、XBOX体感游戏机、桌上足球
        4、唱歌，摄像记录
        <h2>五、活动的进行：</h2>
        <h3>1、负责人</h3>
        组长：小米  副组长：小明
    　　<h3>2、活动流程：</h3>
        （1）负责人集思广益，听取家人的意见，争取满足所有人的不同需求，达到玩得最开心的目的。
        （2）负责人策划聚会，时间，地点，责任，义务，注意事项，设备等。
        （3）费用预算
        （4）别墅聚会轰趴的预定及相关事宜
    </body>
</html>
