<html>
  <head>
    <meta charset="utf-8">
    <title>元宇宙工作室官网</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/workroom.css">
  </head>
<body>
    <img src="/static/images/banner.png" class="pic">
    
    <h2>工作室介绍</h2>
    <p>Hey！朋友！</p>
    <p>欢迎来到元宇宙工作室！</p>
    <p>这里是由19个不同学校、不同年级的陌生人在编程世界相遇相知相行的故事。</p>
    <p>由于现在元宇宙的热度空前之高，我们希望在元宇宙世界中是那个微小但闪亮的星光，照亮每一位有梦想的人，所以我们把工作室命名为元宇宙工作室。</p>
    <p>感谢学而思让我们相识，感谢编程让我们互相帮助前行。</p>
    <p>这里不限想象，并且积极开放，你可以发挥自己的长处，我们一起做出闪亮的作品，特别期待你的到来！！</p>
    <h5>元宇宙工作室</h5>

    
    <h2>成员介绍</h2>
    <div class="row bg-color">
        <div class="col-4">
            <img  src="/static/images/photo1.jpeg" class="photo rounded-circle">
            <p>刘百万</p>
            <h4>室长</h4>
        </div>
        <div class="col-4">
            <img src="/static/images/photo2.jpeg" class="photo rounded-circle">
            <p>王晓美</p>
            <h4>副室长</h4>
        </div>
        <div class="col-4">
            <img  src="/static/images/photo3.jpeg" class="photo rounded-circle">
            <p>李跃童</p>
            <h4>副室长</h4>
        </div>
    </div>


    <h2>我的勋章</h2>
    <div class="row">
        <div class="col-4">
            <img src="/static/images/未来星.png" class="photo">
            <h6>学而思未来星</h6>
        </div>
        <div class="col-4">
            <img src="/static/images/金币.png" class="photo">
            <h6>金币100000000</h6>
        </div>
        <div class="col-4">
            <img src="/static/images/星光导师.png" class="photo">
            <h6>编程大作战星光导师</h6>
        </div>
    </div>

    
    <h2>联系我</h2>
    <div class="row bg-color">
        <div class="col-4">
            <img src="/static/images/微信二维码.png" class="photo">
        </div>
        <div class="col-4">
            <img src="/static/images/QQ二维码.png" class="photo">
        </div>
    </div>

    <img  src="/static/images/bottom.png" class="pic">
</body>
</html>